absl-py 
aiohttp 
astroid 
astunparse==1.6.3
async-timeout==3.0.1
attrs 
backcall==0.2.0
blinker==1.4
brotlipy==0.7.0
cachetools 
certifi==2020.12.5
cffi 
chardet 
click==7.1.2
cloudpickle==1.6.0
cryptography 
cycler==0.10.0
dask==2020.12.0
decorator==4.4.2
distributed==2020.12.0
dm-tree==0.1.5
gast==0.3.3
google-auth 
google-auth-oauthlib 
google-pasta==0.2.0
grpcio 
h5py 
HeapDict==1.0.1
idna 
imageio==2.9.0
importlib-metadata 
ipython 
ipython-genutils 
isort 
jedi 
joblib==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
lazy-object-proxy 
Markdown 
matplotlib==3.3.3
mccabe==0.6.1
mkl-fft
mkl-random
mkl-service
msgpack==1.0.2
multidict 
networkx==2.5
nibabel==3.2.1
nilearn==0.7.0
numpy 
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==20.8
pandas==1.2.0
parso==0.7.0
patsy==0.5.1
pexpect 
photonai==2.0.0
photonai-neuro @ git+https://github.com/wwu-mmll/photonai_neuro.git@7a7b093f8e5a492f7b06401c1229c17f1674bbb6
pickleshare 
Pillow==8.1.0
plotly==4.14.1
prettytable==2.0.0
prompt-toolkit 
protobuf==3.13.0
psutil==5.8.0
ptyprocess 
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser 
Pygments 
PyJWT==1.7.1
pylint 
pymodm==0.4.3
pymongo==3.11.2
pyOpenSSL 
pyparsing==2.4.7
PySocks 
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.3.1
requests 
requests-oauthlib==1.3.0
retrying==1.3.3
rsa 
scikit-image==0.18.1
scikit-learn==0.22.2.post1
scikit-optimize==0.8.1
scipy 
seaborn==0.11.1
six 
sortedcontainers==2.3.0
statsmodels==0.12.1
tblib==1.7.0
tensorboard
tensorflow-estimator==2.2.0
tensorflow-probability==0.12.1
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2021.1.8
toml 
toolz==0.11.1
tornado==6.1
traitlets 
typed-ast==1.4.1
urllib3 
wcwidth 
Werkzeug==1.0.1
wrapt==1.11.2
yarl 
zict==2.0.0
zipp 
